@model MarkdownPageViewModel

@{ 
    var markdownPage = Model.Page;
    var bundle = markdownPage.Bundle;
    ViewBag.Title = markdownPage.Title;
}

@section Scripts {
    <script>
    var editor = document.getElementById('trydotnet-editor');
    if (editor != null) {
        editor.setAttribute("src", "@Model.TryDotNetSrc");
    }
    </script>
}

<div class="row">
    <div class="large-3 columns">
        <ul class="side-nav">
            @foreach (var category in bundle.Categories)
            {
                <li class="heading">@category.Title</li>
                @foreach (var contentPage in category.Pages)
                {
                    <li class="content"><a href="@contentPage.Id">@contentPage.Title</a></li>
                }
            }
        </ul>
        @if (bundle.Name != "developer")
        {
            <footer class="version">Version @bundle.Name</footer>
        }
    </div>
    <div class="large-9 columns">
        <h1>@markdownPage.Title</h1>
        @markdownPage.Content
    </div>
</div>
