@using NodaTime.Benchmarks;
@model IList<BenchmarkEnvironment>

@{
    ViewBag.Title = "Benchmarks";
}

<div class="row">
	<ul class="breadcrumbs">
		<li><a href="/">Home</a></li>
		<li class="current"><a href="#">Benchmarks</a></li>
	</ul>

    <div class="large-12 columns">
        <h1>Benchmarks</h1>

        <p>
            Benchmarks are currently disabled (in terms of viewing), in an attempt to curb
            web site traffic from scrapers. They may be re-enabled at a later date.
        </p>

        <h2>Benchmark environments</h2>
        <table>
            <tr>
                <th>Machine</th>
                <th>Target framework</th>
                <th>Operating system</th>
                <th>Runtime version</th>
                <th>JIT</th>
                <th>First run</th>
                <th>Last run</th>
                <th>Run count</th>
                <th></th>
            </tr>
            @foreach (var env in Model
           .Where(e => e.Runs?.Any() ?? false)
           .OrderByDescending(e => e.Runs?.FirstOrDefault()?.Start?.ToInstant())
           .ThenBy(e => e.Machine)
           .ThenBy(e => e.TargetFramework))
        {
            <tr>
                <td>@env.Machine</td>
                <td>@env.TargetFramework</td>
                <td>@env.OperatingSystem</td>
                <td>@env.RuntimeVersion</td>
                <td>@env.JitModules</td>
                <td>@Html.RenderTimestampAsUtcDate(env.Runs.LastOrDefault()?.Start)</td>
                <td>@Html.RenderTimestampAsUtcDate(env.Runs.FirstOrDefault()?.Start)</td>
                <td>@env.Runs.Count</td>
                <td><a href="/benchmarks/environments/@env.BenchmarkEnvironmentId">View</a></td>
            </tr>
    }
        </table>
    </div>
</div>
